* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.hero-section {
  padding-top: 30px;
}
.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.logo-branding {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.site-title {
  color: #0b132a;
  font-size: 25px;
}
.logo-branding img {
  width: 30px;
}
.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  font-size: 18px;
}
.hero-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.hero-logo img {
  width: 20px;
}
.text {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-left: 87px;
}
.hero-content {
  position: relative;
}
.hero-content img {
  width: 100%;
}
.content-logo {
  position: absolute;
  top: 120px;
  left: 700px;
}
.content-logo img {
  margin-left: 100px;
  margin-bottom: 10px;
  max-width: 60px;
}
.content-logo h1 {
  font-size: 50px;
  margin-bottom: 15px;
  margin-left: 86px;
}
.text i,
.text p {
  margin-top: 3px;
}
/* feature section */
.feature-main {
  margin-top: 100px;
  display: flex;
  gap: 200px;
}
.feature-logo {
  display: flex;
  gap: 50px;
}
.feature-text {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  color: #9f9f9f;
}
.feature-image h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.para-1 {
  width: 700px;
  color: #9f9f9f;
  margin-bottom: 15px;
}
.para-2:hover {
  text-decoration: underline;
}
.feature-image2,
.feature-image3 {
  margin-top: 20px;
}
.para-3,
.para-4 {
  width: 700px;
  color: #9f9f9f;
  margin-bottom: 15px;
}
.categories-main input {
  height: 65px;
  width: 345px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
  margin-bottom: 40px;
}
.categories-main h1 {
  font-size: 32px;
  margin-left: 15px;
}
.categories-main h2 {
  margin-top: 60px;
  margin-left: 15px;
}
.categories-text1 {
  display: flex;
  gap: 250px;
  margin-top: 50px;
  margin-left: 15px;
  color: #9f9f9f;
}
.categories-text2 {
  display: flex;
  gap: 225px;
  margin-top: 50px;
  margin-left: 15px;
  color: #9f9f9f;
}
.categories-text3 {
  display: flex;
  gap: 260px;
  margin-top: 50px;
  margin-left: 15px;
  color: #9f9f9f;
}
.categorie-image1 {
  display: flex;
  margin-top: 45px;
  gap: 20px;
}
.para {
  width: 122px;
  line-height: 1.5rem;
}
.date {
  color: #9f9f9f;
}
.product-input {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.btn-1,
.btn-2,
.btn-3 {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
  background-color: #f9f1e7;
}
.btn-1:hover {
  background-color: #b88e2f;
}
.btn-2:hover {
  background-color: #b88e2f;
}
.btn-3:hover {
  background-color: #b88e2f;
}
.btn-next:hover {
  background-color: #b88e2f;
}
.btn-next {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
  background-color: #f9f1e7;
}
/* logo section */
.logo-section {
  margin-top: 80px;
  background-color: #f9f1e7;
  height: 270px;
}
.logo-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 110px;
}
.logo-img1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.logo-text h1 {
  margin-bottom: 9px;
}
/* footer section */
.footer-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 370px;
}
.footer-text {
  margin-top: 28px;
  margin-left: 80px;
}
.footer-text p {
  margin-top: 30px;
  line-height: 1.3rem;
  color: #9f9f9f;
}
.footer-text h5 {
  margin-top: 230px;
  color: #000000;
  margin-bottom: 20px;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
}
.footer-text1 {
  line-height: 4rem;
}
.footer-text1 h5 {
  color: #9f9f9f;
}
.input-text {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.input-text input {
  border: none;
  outline-style: none;
}
.input-text button {
  border: none;
  background-color: transparent;
  color: black;
}
